<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944728847084-j7lsslauj8rh6sfmphcetk48bll13sak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944728847084-j7lsslauj8rh6sfmphcetk48bll13sak</string>
	<key>API_KEY</key>
	<string>AIzaSyBsahkCY-USpKnM1ZhJoQftn401b5Ii9Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>944728847084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onceagain.DrinkSomeWater</string>
	<key>PROJECT_ID</key>
	<string>drinksomewater-3ffc1</string>
	<key>STORAGE_BUCKET</key>
	<string>drinksomewater-3ffc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944728847084:ios:cfe36f508aa34a7cceabc9</string>
</dict>
</plist>